# Default ignored files (changes.text.default.ignored.files)
/shelf/
/workspace.xml
# Datasource local storage ignored files (text.datasource.local.storage.ignored.files)
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests (http.request.log.ignored.files.provider.title)
/httpRequests/
